@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Scroll Bar */
*::-webkit-scrollbar {
    background-color: #fff;
    width: 12px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

/* End Scroll Bar */

body {
    background: rgba(178, 178, 179, 0.537);
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Menu Icon */
.menu-icon {
    width: 50px;
    height: 50px;
    background: transparent;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin: 15px;
    z-index: 9;
    display: none;
}

.menu-icon span {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 9px;
    height: 5px;
    background: rgba(56, 71, 78, 0.699);
    transition: all .3s;
    margin: 8% 0;
}

.active span:nth-child(1) {
    animation: ease .4s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .4s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .4s zoom-out forwards;
}

.not-active span:nth-child(2) {
    animation: ease .4s zoom-in forwards;
}

.active span:nth-child(3) {
    animation: ease .4s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .4s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    50% {
        top: 12px;
        transform: rotate(0deg);
    }

    100% {
        top: 13px;
        transform: rotate(135deg);
    }
}

@keyframes top-2 {
    0% {
        top: 12px;
        transform: rotate(135deg);
    }

    50% {
        top: 12px;
        transform: rotate(0deg);
    }

    100% {
        top: 0px;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0px;
        transform: rotate(0deg);
    }

    50% {
        bottom: 12px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 13px;
        transform: rotate(45deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(45deg);
    }

    50% {
        bottom: 22px;
        transform: rotate(0deg);
    }

    100% {
        bottom: 0px;
        transform: rotate(0deg);
    }
}


@keyframes zoom-out {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


/* End Menu Icon */

/* Nav */
.nav-container {
    background: #222;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70px;
    box-shadow: 0px 2px 5px rgba(56, 71, 78, 0.699);
    transition: all .5s ease-out;
}

.nav-container-hidden {
    display: flex;
    background: #222;
    color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    height: 100vh;
    text-align: center;
    min-width: 40%;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Fuzzy Bubbles', cursive;
    transition: all .2s ease-in;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: all .2s ease-in;
}

.nav-link:hover {
    background: #fff;
    color: #222;
}

/* End Nav */

/* Hero */
.hero {
    background-image: url('assets/images/hero.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    box-shadow: 0px 0px 10px rgb(51, 51, 51);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

.hero h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.social-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

/* End Hero */

/* Section Blocks */
.section-block {
    padding: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.section-title {
    padding: 20px;
    font-size: xx-large;
    color: #fff;
    text-indent: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    background-color: #222;
}

.section-content {
    margin: 5px 20px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}

.section-content p {
    margin-bottom: 15px;
}

/* End Section Blocks */

/* Cards */
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: start;
}

.cards-sm {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: start;
    justify-content: center;
}
.cards-sm .card{
    text-align: center;
}

.cards-sm .card .title{
    font-size: 13px;
    color: #666666;
}

.skills-header{
    text-align: center;
    margin: 20px;
}

.skills-body img{
    width: 80px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    color: #333;
    word-wrap: break-word;
    padding: 1rem;
    height: auto;
    transition: all .3s ease-in;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-out;
}

.card-body{
    height: auto;
    font-size: small;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
}
.card-body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.card-list{
    padding: 10px 10px 10px 20px;
}

/* End Cards */

/* Footer */
footer {
    width: 100%;
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer span {
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
}

/* End Footer */

/* Scroll Top */
.scroll-top {
    position: fixed;
    right: 1%;
    top: 90%;
    background-color: rgba(34, 34, 34, 0.512);
    color: rgba(255, 255, 255, 0.564);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid #000;
    padding: -5px;
    font-size: xx-large;
    transition: all .5s ease-in;
}

.scroll-top:hover {
    background-color: rgba(34, 34, 34, 0.912);
    color: #fff;
    transition: all .5s ease-out;
}

/* End Scroll Top */

/* ############################################################################# */

/* Media Queries */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .nav-container {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        text-align: center;
        min-width: 200px;
    }

    .logo {
        font-size: medium;
    }
    .logo-img{
        height: 30px;
        width: 30px;
        margin-right: -12px;
    }

    .nav-container:hover {
        overflow-y: scroll;
    }

    .nav-container a {
        width: 100%;
    }

    .menu-icon {
        position: fixed;
        right: 0px;
        display: flex;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin: 20px;
        z-index: 9;
    }

    .menu-icon span {
        position: relative;
        display: block;
        width: 100%;
        border-radius: 9px;
        height: 2px;
        background: #fff;
        transition: all .3s;
        margin: 8% 0;
    }

    .scroll-top {
        height: 30px;
        width: 30px;
        right: 5%;
        font-size: medium;
        top: 85%;
    }

    .profile-pic {
        height: 100px;
        width: 100px;
    }

    .hero h4 {
        font-size: 20px;
    }

    .social-links {
        padding: 0px;
        margin-top: 20px;
    }

    .social-links a {
        font-size: 20px;
    }

    .hero {
        min-height: 300px;
    }

    .section-title {
        padding: 10px 0px;
        text-align: center;
        text-indent: 0px;
        font-size: large;
    }

    .section-block {
        padding: 10px;
    }

    .section-content {
        margin: 5px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
    }
    .cards-sm{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .card:hover{
        transform: scale(1.0);
    }

    @keyframes top {
        0% {
            top: 0px;
            transform: rotate(0deg);
        }

        50% {
            top: 2px;
            transform: rotate(0deg);
        }

        100% {
            top: 6px;
            transform: rotate(135deg);
        }
    }

    @keyframes bottom {
        0% {
            bottom: 0px;
            transform: rotate(0deg);
        }

        50% {
            bottom: 2px;
            transform: rotate(0deg);
        }

        100% {
            bottom: 4px;
            transform: rotate(45deg);
        }
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .nav-container {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        text-align: center;
        min-width: 40%;
    }

    .nav-container:hover {
        overflow-y: scroll;
    }

    .nav-container a {
        width: 100%;
    }

    .menu-icon {
        position: fixed;
        right: 0px;
        display: flex;
    }

    .menu-icon span {
        background: #fff;
    }

    .section-title {
        text-align: center;
        text-indent: 0px;
    }
    .logo-img{
        margin-right: -16px;
    }
    .cards-sm{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card:hover{
        transform: scale(1.0);
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}

/* End Media Queries */